<div class='page-header'>

<h1>
<center> <b><div class="well well-sm">Contact Us</div>
</center><b></h1>
<h4> Send me a line and I'll get back to you!</h4>

<%= simple_form_for @message, url: contact_path do |f| %>
  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :name %>
    <%= f.input :subject %>
    <%= f.input :body, as: :text %>
  </div>
  <br />
  <div class='text-center'>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>    
<% end %>
</div>

