<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subject %>
    <%= f.input :body %>
    <%= f.input :author %>
    <%= f.simple_fields_for :pictures do |p| %>
      <%= p.input :image %>
      <%= p.input :title %>
      <%= p.input :description %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
